{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "indent": [2, 4],
    "comma-dangle": [2, 'never'],
    "global-require": 0
  }
}
